/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.CC1 {
    /*border : 1px solid red;*/
    display: inline;
    font-size: 3rem;
    color: white;
    font-weight: 200;

    position: relative;
    top: 240px;
    left: 410px;
    vertical-align: baseline;
}

.CC2 {
    /*border : 1px solid red;*/
    display: inline;
    font-size: 1.8rem;
    color: white;
    font-weight: 100;

    position: relative;
    top: 300px;
    left: -130px;
}

.button_1 {
    border : 1px solid #ffffff;
    text-decoration: none;
    display: inline-block;
    padding: 23px;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
    background: rgba(216, 216, 216, 0.2);
    border-radius: 5px;
    font-size: 20px;
    font-weight: 100;

    position: fixed;
    top: 400px;
    left: 470px;
}

.button_1:hover {
    background: rgba(216, 216, 216, 0.33);
}

.picture {
    border : 1px solid red;
    background-repeat: no-repeat;
    background : url("https://html5up.net/uploads/demos/tessellate/images/header.jpg");
    height : 80vh;
    width : 100vw;
    background-position: center;
    background-size: cover  ;
}