.wrapper {
    border: 1px solid red;
    width: 100%;
    height: 80vh;
    margin-top : 100px;
}
.wrapper .sub1, .sub2, .sub3 {
    position: relative;
    top : 200px;
    border: blue 1px solid;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.wrapper .main1, .main2, .main3 {
    border: red 1px solid;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sub1 {
    background-image : url("//thumbnail.coupangcdn.com/thumbnails/remote/48x48ex/image/retail/images/2025/07/23/12/1/1b2a4f85-9a71-4737-8513-8f16d11d1ac8.png");
    width : 10vh;
    height : 10vh;
}
.sub1:hover + div {display : block;}
.sub2 {
    width : 10vh;
    height : 10vh;
    background-image: url("//thumbnail.coupangcdn.com/thumbnails/remote/48x48ex/image/rs_quotation_api/wcbdcaql/88b2358c4b97491b8515f7592d7bf37c.jpg");
}
.sub2:hover + div {display : block;}
.sub3 {
    width : 10vh;
    height : 10vh;
    background-image: url("//thumbnail.coupangcdn.com/thumbnails/remote/48x48ex/image/retail/images/446284238753922-a62c5a0a-effb-4889-b0a4-a0fe07f60163.jpg");
}
.sub3:hover + div {display : block;}

.main1 {
    position : absolute;
    width : 60vh;
    height : 60vh;
    top: 180px;
    left: 290px;
    background-image: url("//thumbnail.coupangcdn.com/thumbnails/remote/492x492ex/image/retail/images/2025/07/23/12/1/1b2a4f85-9a71-4737-8513-8f16d11d1ac8.png");
    display: none;
}
.main2 {
    position : absolute;
    width : 60vh;
    height : 60vh;
    top: 180px;
    left: 290px;
    background-image: url("//thumbnail.coupangcdn.com/thumbnails/remote/492x492ex/image/rs_quotation_api/wcbdcaql/88b2358c4b97491b8515f7592d7bf37c.jpg");
    display: none;
}
.main3 {
    position : absolute;
    width : 60vh;
    height : 60vh;
    top: 180px;
    left: 290px;
    background-image: url("//thumbnail.coupangcdn.com/thumbnails/remote/492x492ex/image/retail/images/446284238753922-a62c5a0a-effb-4889-b0a4-a0fe07f60163.jpg");
    display: none;
}
