div.first { border:  1px solid red; width: 150px; height: 50px;}
div.first { border-top-style: 30px;
    margin:  50px 40px 30px 20px;
    border:  1px solid red;
    width: 150px;
    height: 50px;
    margin-top: 50px;
    margin-right: 40px;
    margin-bottom: 30px ;
    margin-left: 20px;
}

.profile img{
    border: 1px solid black;

    width: 200px;
    height: 200px;

    border-radius: 50%;
}

.chat-right {
    border: 1px solid black;
    background-color: yellow;

    width: 100px;
    padding : 5px;
    margin : 5px;

    text-align: center;

    border-radius: 10px 0 10px 10px;
}

#auto {
    border: 1px solid red;
    width:100px;

    margin : 0 auto;
}

/*
    마진 중첩
    세로 방향으로 붙어 있을 때 또는 부모와 첫번째 자식 간에
    margin이 더해지지 않고 큰 값 하나만 적용되는 현상

    해법
    border, padding 등 적용
    컨텐츠 적기
    * 부모에 overflow: hidden 주기
*/

#div1, #div2, #div3 {
    /*border: 1px solid red;*/
}
#div2, #div3{
    margin: 30px;
}
#div3 {
    margin:  50px;
}
#div1 {
    margin:  10px;
    overflow: hidden;
}
/* margin 축약형 */
/* 4개일 때 : top, right, bottom, left */

/* 3개일 때 : top, 좌, 아래 */
body {
    margin: 0;
}
.box {
    width: 300px;
    height: 500px;
    border: 1px solid red;
    margin: 50px;
}

.box-sizing{
    padding : 10px;
    box-sizing: border-box;
}