#div1{
    border: 1px solid red;
}
.block {
    border : 1px solid red;
    width : 100px;
    height : 50px;
    margin : 0 auto;
}
.inline {
    border : 1px solid red;

    /*너비, 높이를 줄 수 없다*/
    width : 100px;
    height : 100px;

    display:  inline;
    /*좌우는 가능, 상하는 불가능*/
    margin: 30px 50px;

    padding: 30px 50px;
}

.parent2 {
    border : 1px solid rgba(255, 149, 149, 0.74);
    font-size: 0;
}
.parent2 > div {
    border : 1px solid red;

    display: inline-block;

    width : 300px;
    height : 50px;

    /*inline, inline-block만 적용 됨*/
    vertical-align: top;
    font-size: 16px;
}
.hide {
    display: none;
}

.table {
    display: table;
}
.table .td {
    display: table-cell;

    height: 100px;

    border: 1px solid red;

    vertical-align: middle;
}