.box {
    border : 1px solid red;
    width : 100px;
    height : 110px;
    margin : 10px;
}
.of-hidden {
    overflow: hidden;
}

.of-scroll{
    overflow: scroll;
}
.of-auto{
    overflow: auto;
}

.parent div {
    border : 1px solid red;
    display : inline-block;
    width: 100px;
    margin : 5px;
}

.parent {
    border: solid 1px red;
    width: 300px;
    white-space : nowrap;
    overflow: scroll;
}