.main {
    width : 90vw;
    height : 90vh;
    margin: 0 auto;
    margin-top: 40px;
    overflow: hidden;
}

.title {
    margin: 0 auto;
    height : 12vh;
    font-weight: bold;
    width : 50vw;
    font-size: 4vh;
    text-align : center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.room_1, .room_2, .room_3{
    display : inline-block;
    width : 29vw;
    height : 60vh;
    margin-bottom : -130px;
}
.room_1 {
    margin-left: 12px;
}

.room_1 .room_1_img {
    width : 29vw;
    height : 30vh;
    /*border: 1px solid red;*/
    background-image: url("https://assets.nicepagecdn.com/d2cc3eaa/88834/images/34.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.room_2 .room_2_img {
    width : 29vw;
    height : 30vh;
    /*border: 1px solid red;*/
    background-image: url("https://assets.nicepagecdn.com/d2cc3eaa/88834/images/modern-studio-apartment-design-with-bedroom-living-space_1262-12375.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.room_3 .room_3_img {
    width : 29vw;
    height : 30vh;
    /*border: 1px solid red;*/
    background-image: url("https://assets.nicepagecdn.com/d2cc3eaa/88834/images/4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}