body {
    background: black;
}

.wrapper {
    width : 600px;
    height : 100px;
    margin: 0 auto;
    margin-top: 500px;
    text-align: center;
}

.wrapper a {
    display: inline-block;
    padding : 15px;
    padding-right : 50px;
    padding-left : 50px;
    text-decoration: none;
    color: white;
    border-radius:15px;
    /*margin: 15px;*/
    /*margin-top: 18px;*/
    border : 1px solid #595959;
    background-color : #101010;
}

.wrapper a:hover {
    background-color: #303030;
    position: relative;
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.1);
}

.menu {
    width : 900px;
    height : 70px;
    margin: 0 auto;
    border-radius: 40px;
    text-align: center;
    color : white;
    background-color: #0c0c0c;
    border: #373737 1px solid;
}


.menu li {
    list-style: none;
    display: inline-block;
    font-size: 20px;
    margin: 0 40px;
    line-height: 35px;
    color: #888888;
}

.menu li:hover {
    color: white;
}

.subtitle {
    text-align: center;
    color: white;
    position: absolute;
    top: 450px;
    left: 30%;
    width: 500px;

}