.layout, .main_1, .main_2, .picture_1, .title_1, .subtitle_1, .picture_2, .picture_3, .picture_4{
    /*border : 1px solid red;*/
}

.layout {
    width : 80%;
    margin: 0 auto;
    height : 800px;
    vertical-align: top;
    margin-top : 50px;
}

.main_1 {
    vertical-align: top;
    height: 800px;
    width : 48%;
    display: inline-block;

}
.main_2 {
    height: 800px;
    width : 48%;
    display: inline-block;
    margin-left: 31px;
}

.main_1 .picture_1 {
    height : 510px;
    background-image: url("//images03.nicepage.com/c461c07a441a5d220e8feb1a/0dedaa8602ba5d6d818dec9f/houseofsilencemariamarinina03.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

}

.main_1 .title_1 {
    font-family: Verdana, serif;
    height : 140px;
    width : 450px;
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    color: #2e2e2e;

}

.subtitle_1 {
    width : 485px;
    display : inline-block;
    margin-top: 25px;
    color: #505050;
}

.picture_2 {
    height : 300px;
    width : 220px;
    margin-top: 60px;
    background-image: url("//images03.nicepage.com/c461c07a441a5d220e8feb1a/42568883ba365e639e3fc0a9/0f9a91f61af2dac432841181deef820c.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: inline-block;

}

.picture_3 {
    height : 300px;
    width : 400px;
    margin-top: 40px;
    background-image: url("//images03.nicepage.com/c461c07a441a5d220e8feb1a/add58d50d86d5fb4a773eff5/0ee610f6080f69b8179888943e49b794.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: inline-block;
}

.picture_4 {
    height : 300px;
    width : 215px;
    margin-left: 40px;
    background-image: url("//images03.nicepage.com/c461c07a441a5d220e8feb1a/2dd335aa72b0516cb1df543c/22c7537e24e94a7b5fc4c74be769544a.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: inline-block;

}