.main {
    margin : 0 auto;
    height : 90vh;
    width : 81vw;
    overflow : hidden;
}
.main_1 {
    display : inline-block;
    height : 90vh;
    width : 35vw;
    vertical-align: top;
    overflow : hidden;
}
.main_2 {
    display : inline-block;
    height : 90vh;
    width : 40vw;
    vertical-align: top;
    margin-left: 68px;
    overflow: hidden;
}

.main_1 .title_1 {
    font-family: 'Abril Fatface', cursive;
    font-weight: bold;
    font-size: 40px;
    display: inline;
    vertical-align: top;
}
.main_1 .subtitle_1 {
    margin-top: 10px;
}
.main_1 .submain_1 {
    height : 450px;
    margin-top: 50px
}
.main_1 .submain_1 .picture_1 {
    background-image: url("//images01.nicepage.com/bb/1d/bb1d2e5cabdda9d7e02aaf1f96309f50.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 250px;
}
.main_1 .submain_1 .subtitle_2 {
    display: inline-block;
    vertical-align: top;
    margin-top : 20px;
}
.main_2 .picture_2 {
    background-image: url("picture.png");
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.subtitle_3 {
    display: inline-block;
    vertical-align: top;
    margin-top : 20px;
    width : 35vw;
    margin-left: 30px;
}